MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=qwe
MYSQL_PORT=3306
MYSQL_DATABASE=monita_v5_6

REDIS_HOST=localhost
REDIS_PORT=6379
PORT=5000
SECRET_KEY=waduhek

LOKET_INSTANCE=loket-local-rinjani,loket-local-sabang

#----- SSL CONFIG ----#
#######################

#KEY_PATH=
#CERT_PATH=