ecosystem.config.js
.env

node_modules

# exclude everything in every folder
/drive/**/*.*
/public/images/**/*.*

# include only .gitkeep files
!/drive/**/*.gitkeep
!/public/images/**/*.gitkeep
.vscode